@page
@model Application.Pages.Manager.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Application</h1>
    <p>Redirect to <a href="/swagger">Swagger</a>.</p>
</div>